body {
	position: relative;
	background: url("../images/bg-image.jpg");
	font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
	font-family: 'Waiting for the Sunrise', cursive;
	color: palevioletred;
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#instruction, #alerts {
	text-align: center;
	font-size: 12px;
}

#main-content {
	width: 960px;
	margin: 0px auto 0px auto;
}

.panel {
	background-color: black;
    padding: 0px;
    position: absolute;
	margin: 0px auto 0px auto;
}

#rules {
    text-align: center;
    font-size: 30px;
}

#word-display {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	padding-bottom: 20px;
}

#general-display {
	text-align: center;
	font-size: 30px;
}